.start{
    min-height: 100vh;
    @include flex-c;
    text-align: center;
    &__container{
        @include make-container();
        @include max-container();
    }
    &__author{
        font-size: 16px;
        margin-bottom: 20px;
        h1{
            line-height: 1;
            margin: 0;
            @include light;
        }
    }
    &__title{
        font-size: 35px;
        margin-bottom: 20px;
        h2{
            line-height: 1;
            margin: 0;
            @include bold;
        }
    }
    &__social{
        a{
            font-size: 30px;
            margin: 0 15px;
            text-decoration: none;
            color: $accent;
        }
    }
}