extends layout/app
block var 
    - let page_title = "Home"; 
block content 
    .start 
        .start__container 
            .start__author 
                h1 Otabek Khayrullayev 
            .start__title 
                h2= site_name 
            .start__social 
                a(href="https://t.me/GENIUS2240")
                    i.fa-brands.fa-telegram
                a(href="https://instagram.com/otabek_4189")
                    i.fa-brands.fa-instagram 
                a(href="https://github.com/OtabekKhayrullayev")
                    i.fa-brands.fa-github 
    